.docker-control {
    padding: 20px;
    border: 1px solid #192229;
    background-color: #192229;
    border-radius: 8px;
    margin-top: 20px;
    color: #fff;
    width: 100%;
}

.docker-control button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.docker-control button:hover {
    background-color: #45a049;
}

.docker-control p {
    margin: 10px 0;
    font-weight: bold;
    color: #fff;
}
