.docker-control {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #192229;
    background-color: #192229;
    border-radius: 8px;
    color: #fff;
}

.docker-control p {
    margin: 10px 0;
    font-weight: bold;
    color: #fff;
}
