form {
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #192229;
    background-color: #192229;
    border-radius: 8px;
    color: #fff;
}

input[type="text"]:focus, select:focus {
    border-color: #4CAF50;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
}

